<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

  <!-- FontAwesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

  <!-- Remix Icon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

  <!-- AOS CSS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  <!-- logo design Icon for website -->
  <link rel="shortcut icon" href="../img/icon/favicon.svg" type="image/x-icon">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../CSS/style.css" />

</head>

<body>
  
  <!-- navbar.html -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../img/Startup_savera_logo.svg" alt="Startup Savera Company Logo" width="180" style="padding: 0" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../Main/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="../Main/about.html">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../Main/services.html" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              onclick="window.location.href='Services.html'">Services</a>
            <div class="dropdown-menu megamenu">
              <div class="container">
                <div class="row">
                  <div class="col-lg-2">
                    <h6>Prarambh</h6>
                    <ul class="list-unstyled">
                      <li>
                        <a href="../services/private-limited-company.html">Private Limited Company</a>
                      </li>
                      <li>
                        <a href="../services/one_person_company_registration.html">One Person Company Registration</a>
                      </li>
                      <li>
                        <a href="../services/llp-company-registration.html">Limited Liability Partnership</a>
                      </li>
                      <li>
                        <a href="../services/partnership-firm-registration.html">Partnership Firm Registration (ROF)</a>
                      </li>
                      <li><a href="../services/section-8-company-registration.html">Section 8 Company</a></li>
                      <li><a href="../services/12a-and-80g-registration.html">12A and 80G Registration</a></li>
                      <li><a href="../services/nidhi-company-registration.html">Nidhi Company Registration</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2">
                    <h6>Suraksha</h6>
                    <ul class="list-unstyled">
                      <li><a href="../services/shram-suvidha-registration.html">Shram Suvidha Registration</a></li>
                      <li><a href="../services/trademark-registration.html">Trademark Registration</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2">
                    <h6>Satyapit</h6>
                    <ul class="list-unstyled">
                      <li><a href="../services/startup-india-certification.html">START-UP India Certificate</a></li>
                      <li><a href="../services/gem-registration.html">GeM Certificate</a></li>
                      <li><a href="../services/tax-exemption-certification.html">Tax Exemption Certificate</a></li>
                      <li><a href="../services/zed-certification.html">ZED Certificate</a></li>
                      <li><a href="../services/iso-certification.html">ISO Certificate</a></li>
                      <li><a href="../services/gst-registration.html">GST Registration & Certificate</a></li>
                      <li><a href="../services/fssai-registration.html">FSSAI Certificate</a></li>
                      <li><a href="../services/iec-registration.html">IEC Certificate</a></li>
                      <li><a href="../services/nsic-registration.html">NSIC Certification</a></li>
                      <li><a href="../services/udyog-aadhar-registration.html">Udyog Aadhar (MSME)</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2">
                    <h6>Sampatti</h6>
                    <ul class="list-unstyled">
                      <li>
                        <a href="../services/seed-fund.html">Seed Fund</a>
                      </li>
                      <li><a href="../services/rkvy-raftaar.html">RKVY- RAFTAAR</a></li>
                      <li><a href="../services/naiff.html">NAIFF</a></li>
                      <li><a href="../services/msme-design.html">MSME Design</a></li>
                      <li><a href="#">Grant for Textile</a></li>
                      <li><a href="seed-fund.html">SEED SUPPORT SCHEME (SSS)</a></li>
                      <li><a href="#">Sampatti Prayas Fund</a></li>
                      <li><a href="#">Grant for Textile</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2">
                    <h6>Unnati</h6>
                    <ul class="list-unstyled">
                      <li>
                        <a href="../services/venture-capital.html">Venture Capital</a>
                      </li>
                      <li>
                        <a href="../services/cgtmse-loan.html">Working Capital (CGTMSE Loan)</a>
                      </li>
                      <li>
                        <a href="../services/msme-loan.html">MSME LOAN</a>
                      </li>
                      <li><a href="../services/pmegp-loan.html">PMEGP LOAN</a></li>
                      <li><a href="../services/mudra-loan.html">MUDRA LOAN</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2">
                    <h6>Prasar</h6>
                    <ul class="list-unstyled">
                      <li>
                        <a href="../services/logo-design.html">Logo Design</a>
                      </li>
                      <li>
                        <a href="../services/digital-marketing.html">Digital Marketing</a>
                      </li>
                      <li>
                        <a href="../services/website-development.html">Website Development</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Main/partners.html">Partners</a>
          </li>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle dropbtn" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Featured</a>
            <ul class="list-unstyled dropdown-content">
              <li><a href="#">Life@Startup-Savera</a></li>
              <li><a href="../services/career.html">Career</a></li>
              <li><a href="../services/privacy.html">Privacy Policy</a></li>
              <li><a href="../services/terms.html">Terms & Conditions</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Main/contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
      <a href="tel:+916358054005" class="helpline d-none d-lg-block">
        <span>Contact Number</span> <br />+91 9351262184
      </a>
    </div>
  </nav>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- AOS JS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Initialize AOS -->
  <script src="script/index.js"></script>
</body>

</html>